* {
  color: white;
  font-family: arial, serif;
  font-size: 20px;
  background-color: #101010;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 45px;
}
.materia, .verde {
  color: green;
}

.tema, .azul {
  color: blue;
}


a {
  color: green;
}

a:hover {
  color: lightgreen;
}

main {
  max-width: 100%;
}

th {
  font-size: 25px;
}

td {
  font-size: 23px;
}
ul li ul li ul li {
  font-size: 20px;
}
