* {
  color: white;
  font-family: arial, serif;
  font-size: 20px;
  background-color: #101010;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 45px;
}
.materia, .verde {
  color: green;
}

.tema, .azul {
  color: blue;
}

@keyframes anim {
  0% {
      text-decoration:none;
  }
  25% {
    text-decoration:underline line-through overline;
  }
  50% {
    text-decoration:underline line-through;
  }
  75% {
    text-decoration: underline;
  }
  100% {
    text-decoration: none;
  }
}
a, a * {
  color: green;
  display: block;
  text-decoration:none;
  transition-delay: 1ms;
}

a:hover, a *:hover {
  color: lightgreen;
  animation: anim 0.101s forwards;
  
}

main {
  max-width: 100%;
}

th {
  font-size: 25px;
}

td {
  font-size: 23px;
}
ul li ul li ul li {
  font-size: 20px;
}
