* {
  background-color: #000000;
  color: white;
  font-family: arial, serif;
  font-size: 20px;
}

h1 {
    font-size: 75px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 45px;
}
.materia, .verde {
  color: green;
}

.tema, .azul {
  color: blue;
}


a {
  color: green;
}

a:hover {
  color: lightgreen;
}

main {
  background-color: #101010;
  max-width: 100%;
}
body {
  background-color: black;
}

th {
  font-size: 25px;
}

td {
  font-size: 23px;
}
ul li ul li ul li {
  font-size: 20px;
}
footer {
  border-top: 10px solid green;
  background-color: #000;
  padding-top: 10px;
}
footer ul li {
  padding-top: 20px;
}
