:root {
  --a-color: green;
  --a-hover-color: lightgreen;
  --bgcolor: gray;
}
a {
  color: var(--a-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
a:hover {
  color: var(--a-hover-color);
}
body {
  background-color: var(--bgcolor);
}
