:root {
  --a-color: violet;
  --a-hover-color: purple;
}
a {
  color: var(--a-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
a:hover {
  color: var(--a-hover-color);
}
