* {
  color: white;
}

h1 {
  color: green;
}

h2 {
  color: blue;
}

a {
  color: green;
}

a:hover {
  color: lightgreen;
}

body {
  background-color: #101010;
}

th {
  font-size: 25px;
}

td {
  font-size: 23px;
}