* {
  color: white;
}

.materia {
  color: green;
}

.tema {
  color: blue;
}

a {
  color: green;
}

a:hover {
  color: lightgreen;
}

main {
  background-color: #101010;
  max-width: 800px
}
body {
  background-color: black;
}

th {
  font-size: 25px;
}

td {
  font-size: 23px;
}

footer {
  border-top: 10px solid green;
  background-color: #000;
  padding-top: 10px;
}
