* {
  color: white;
}

.materia {
  color: green;
}

.tema {
  color: blue;
}

a {
  color: green;
}

a:hover {
  color: lightgreen;
}

body {
  background-color: #101010;
}

th {
  font-size: 25px;
}

td {
  font-size: 23px;
}

my-footer {
  border: 10px solid green;
}